body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  background-image: url('../images/fondo.png');
  background-color: #fce7f6
}
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  width: 55vh;
  height: 71vh;
  position: absolute;
  margin-left: 32.5rem;
  top: 9rem;
  align-content: center;
  text-align: center;
}

header {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
}

.logo {
  width: 200px;
  position: relative;
}


h2 {
  font-size: 32px;
  color: #1c0c28;
  margin-top: 3vh;
}

p {
  color: #5a5a5a;
  font-size: 20px;
  margin-top: -2vh;
  margin-bottom: 15px;
}

.phone-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 150px;
  width: 43vh;
  margin-left: 4vh;
  margin-top: 5rem;
}

.phone-input .flag {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.phone-input .code {
  font-size: 18px;
  margin-right: 10px;
  color: #000;
}

.phone-input input {
  border: none;
  outline: none;
  font-size: 18px;
  width: 100%;
}

button {
  background-color: #FF0099;
  color: #ffffff;
  border: none;
  padding: 12px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 48vh;
  margin-top: 2vh;
}

button:hover {
  background-color: #e6006a;
}

#error-message {
  display: none;
  color: red;
  font-size: 15px;
  margin-top: 1rem;
}

#error-message a {
  color: #ff007a;
  text-decoration: none;
  font-weight: bold;
}

#error-message a:hover {
  text-decoration: underline;
}





#register-link {
  margin-top: 10px;
  font-size: 14px;
}

#register-link a {
  color: #ff007a;
  text-decoration: none;
  font-weight: bold;
}

#register-link a:hover {
  text-decoration: underline;
}
