/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fce7f6;
    color: #1f1b2d;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 120px;
}

.back-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding: 20px;
}

.withdraw-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Aumentado para que sea más ancho */
    text-align: center;
}



h2 {
    margin-bottom: 20px;
    color: #1f1b2d;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    color: #ff007a;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.withdraw-btn {
    padding: 10px 20px;
    background-color: #ff007a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.withdraw-message {
    margin-top: 15px;
    font-size: 14px;
    display: none; /* Oculto por defecto */
    padding: 10px;
    border-radius: 5px;
}

.withdraw-message.success {
    background-color: #e0ffe0;
    color: #2d7a2d;
    border: 1px solid #b0ddb0;
}

.withdraw-message.error {
    background-color: #ffe0e0;
    color: #a12d2d;
    border: 1px solid #ddb0b0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.back-btn {
    background-color: #e6006a;; /* Color verde */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
