<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Completa tu Info</title>
    <link rel="stylesheet" href="../css/accout_options.css" />
  </head>
  <body>
    <div class="container">
      <h2>Completa tu info</h2>

      <!-- Info Personal -->
      <div class="option" onclick="window.location.href='./personal_info.html'">
        <div>
          <strong>Info personal</strong>
          <p
            style="
              margin: 5px 0;
              margin-left: 2rem;
              font-size: 14px;
              color: #888;
            "
          >
            Para conocerte mejor
          </p>
        </div>
        <span class="arrow">&rsaquo;</span>
      </div>

      <!-- Crea tu Clave -->
      <div
        class="option"
        onclick="window.location.href='./creat_password.html'"
      >
        <div>
          <strong>Crea tu clave</strong>
          <p
            style="
              margin: 5px 0;
              margin-left: 2rem;
              font-size: 14px;
              color: #888;
            "
          >
            UltraSecreta y solo tuya
          </p>
        </div>
        <span class="arrow">&rsaquo;</span>
      </div>
    </div>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
