<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/creat_password.css" />
    <title>Crea tu clave - Nequi</title>
  </head>
  <body>
    <header>
      <img src="../images/logo.png" alt="Banco Logo" class="logo" />
    </header>

    <div class="container">
      <div class="password-box">
        <h2>Crea tu clave</h2>
        <p>Facil de recordar, pero secreta...No se la dices ni al espejo</p>
        <div class="password-inputs">
          <input type="password" class="pin" disabled />
          <input type="password" class="pin" disabled />
          <input type="password" class="pin" disabled />
          <input type="password" class="pin" disabled />
        </div>
        <div class="numpad">
          <button data-value="1">1</button>
          <button data-value="2">2</button>
          <button data-value="3">3</button>
          <button data-value="4">4</button>
          <button data-value="5">5</button>
          <button data-value="6">6</button>
          <button data-value="7">7</button>
          <button data-value="8">8</button>
          <button data-value="9">9</button>
          <button data-action="delete" class="delete">&lt;</button>
          <button data-value="0">0</button>
        </div>
        <button id="accept-btn">Acepta</button>
        <div id="error-message" style="display: none"></div>
      </div>
    </div>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
