<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Depositar Dinero</title>
    <link rel="stylesheet" href="../css/deposit.css" />
  </head>
  <body>
    <div class="container">
      <!-- Barra superior -->
      <header>
        <div class="header-left">
          <img src="../images/logo.png" alt="Logo Nequi" class="logo" />
        </div>
        <div class="header-right">
          <button class="back-btn" onclick="location.href = 'home.html'">
            Volver
          </button>
        </div>
      </header>

      <!-- Contenido principal -->
      <main>
        <div class="deposit-card">
          <div id="message-container" class="message-container"></div>
          <h2>Recargar dinero</h2>
          <p id="current-phone" class="highlight"></p> <!-- Número de cuenta activa -->
          <form id="deposit-form">
            <label for="phone-number">
              <span class="highlight">Cel</span>
              <input
                type="text"
                id="phone-number"
                placeholder="Número de cel"
                required
              />
            </label>
            <p>Revisa bien el número para enviarle a la persona correcta</p>

            <label for="amount">
              <input type="text" id="amount" placeholder="¿Cuánto?" required />
            </label>
            <button type="submit" class="deposit-btn">Recargar</button>
          </form>
        </div>
      </main>
    </div>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
