<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nequi Interface</title>
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <div class="container">
      <!-- Barra superior -->
      <header>
        <div class="header-left">
          <img src="../images/logo.png" alt="Logo Nequi" class="logo" />
        </div>
        <div class="header-center">
          <h2 id="user-name">Hola, Kevin Santiago!</h2>
        </div>
        <div class="header-right">  
          <button class="exit-btn" onclick="window.location.href='../index.html'">
            Salir
        </div>
      </header>

      <!-- Contenido principal -->
      <main>
        <!-- Balance Card -->
        <div class="balance-card">
          <p class="label">Disponible</p>
          <h2 class="amount">$ 0,00</h2>
          <p class="total">Total $ 0,00</p>
        </div>

       <!-- Chat Card -->
<div class="nequi-card">
  <div class="chat-content">
    <div class="chat-inner-box">
      <img src="../images/logo_IA.png" alt="IA Logo" class="logoIA" />
      <!-- Aquí van las respuestas del chat -->
    </div>
    
    <!-- Barra de entrada y botón de envío en la parte inferior del nequi-card -->
    <div class="chat-box">
      <textarea
        class="chat-input"
        placeholder="Pregúntale a Nequi..."
        rows="1"
      ></textarea>
      <button class="send-btn">
        <span>&rarr;</span>
      </button>
    </div>
  </div>
</div>

      </main>

      <!-- Barra lateral -->
      <aside class="side-menu">
        <div class="side-item">
          <h3>Enviar</h3>
          <button class="side-btn" onclick="window.location.href='send.html'">
            &rarr;
          </button>
        </div>
        <div class="side-item">
          <h3>Recargar</h3>
          <button
            class="side-btn"
            onclick="window.location.href='deposit.html'"
          >
            &darr;
          </button>
        </div>
        <div class="side-item">
          <h3>Transacciones</h3>
          <button
            id="transactions-btn"
            class="side-btn"
            onclick="window.location.href='transactions.html'"
          >
            &larr;
          </button>
        </div>
        <div class="side-item">
          <h3>Retirar</h3>
          <button
            id="withdraw-btn"
            class="side-btn"
            onclick="window.location.href='withdraw.html'"
          >
            &uarr;
          </button>
        </div>
        <div class="side-item">
          <h3>Configuración</h3>
          <button
            id="configuration-btn"
            class="side-btn"
            onclick="window.location.href='configuration.html'"
          >
            ⚙️
          </button>
        </div>
      </aside>
    </div>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
