<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/password.css" />
    <title>Escribe tu Clave - Nequi</title>
  </head>
  <body>
    <header>
      <img src="../images/logo.png" alt="Banco Logo" class="logo" />
    </header>

    <div class="container">
      <div class="password-box">
        <h2>Escribe tu clave</h2>
        <p>No dudamos que seas tú...<br />Pero es mejor confirmar ;)</p>
        <div class="password-inputs">
          <input type="password" class="pin" disabled />
          <input type="password" class="pin" disabled />
          <input type="password" class="pin" disabled />
          <input type="password" class="pin" disabled />
        </div>
        <div class="numpad">
          <button>1</button>
          <button>2</button>
          <button>3</button>
          <button>4</button>
          <button>5</button>
          <button>6</button>
          <button>7</button>
          <button>8</button>
          <button>9</button>
          <button class="delete">&lt;</button>
          <button>0</button>
        </div>
        <button id="accept-btn">Acepta</button>
        <div id="error-message" style="display: none"></div>
      </div>
    </div>
    <script src="../js/auth.js"></script>
  </body>
</html>
